.login-page {
  width: 400px;
  margin: auto;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form {
  max-width: 400px;
  margin: 0 0 15px;
  /* border: 1px solid red; */
  height: 200px;
  margin: 0 0 15px;
  position: relative;
  padding: 45px;
  border-radius: 10px;
  position: relative;
  top: 300px;
  background-color: antiquewhite;
}
.form input {
  margin-top: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  width: 100%;
}
body {
  background-color: rgb(235, 198, 150);
}
.form button {
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: rgb(252, 172, 53);
}
.form h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: -5px;
}
