.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form {
  position: relative;
  text-align: center;
  margin: 0 auto 100px;
  height: 200px;
  max-width: 360px;
  background-color: #fff;
  border-radius: 10px;
  padding: 50px 50px;
}
.form input {
  width: 100%;
  margin: 0px 0 15px;
  border-radius: 10px;
  border: 0.5px solid rgb(126, 125, 125);
  padding: 15px;
  margin-left: -15px;
  outline: 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(169, 247, 125);
}
.form input:first-child {
  margin-top: 40px;
}
.form button {
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  background-color: rgb(169, 247, 125);
  border: none;
  border-radius: 10px;
}
